<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>
   Sign Up Page/ Feed
</h1>
    <form>
        <input type="text" fname="First Name" value="First Name">
        <br>
        <input type="text" lname="Last Name" value="Last Name">
        <br>
        <input type="text" email="Email Address" value="yourname@emailaddress.com">
        <br>
        <input type="text" location="Location" value="Philadelphia">
        <br>
    </form>
    <img src="https://savorthebest.com/wp-content/uploads/2015/03/lamb-kabobs-4.jpg">
    <img src="https://www.theelementsofliving.com/wp-content/uploads/2017/08/shutterstock_573890704-748x350.jpg?x52589">
</body>

</html>