<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Homepage</title>
</head>

<body>
    <h1>
   Sign Up Page/ Feed
</h1>

<img src="https://savorthebest.com/wp-content/uploads/2015/03/lamb-kabobs-4.jpg">

<img src="https://www.theelementsofliving.com/wp-content/uploads/2017/08/shutterstock_573890704-748x350.jpg?x52589">
</body>

</html>