<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout Page and Styles</title>
</head>
<body>
	<div class="ul">
		<ul>
			<li><a href="/">About</a></li>
			<li><a href="/about">Contact</a></li>
			<li><a href="/users">Users</a></li>
		</ul>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi et facere vel velit, sint corrupti natus non ea, dolores ab explicabo maxime, alias? Facilis aliquid doloremque nisi, atque praesentium a!
		</p>
	</div>
	<%= yield %>
</body>
</html>