<!--/////////   User Profile/:id   //////////////-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Other Users Profile</title>
</head>

<body>
    <form method="POST" action="/sign-out">
        <input class="OUT2" id="sign-out" type="Submit" name="Sign Out">
    </form>
    <h1 class="FoodHead">Welcome to the Tasty Network! </h1>
    <h2>
        All Tasty Bloggers
    </h2>
    <div>
        <div class="blogtitle">
            <% @user.each do |user| %>
                <h3><a href="/Friend/<%= user.id %>"><%= user.fname %></a></h3>
                <p>Location:<%= user.city %></p>
                <% end %>
        </div>
    </div>
    
</body>

</html>