<!--/////////   User Profile/:id   //////////////-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Other Users Profile</title>
</head>

<body>
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tasty</a>
    </div>
    <ul class="nav navbar-nav">
       <li><a href="/Newsfeed">Newsfeed</a></li>
       <li><a href="/MyProfile">MyProfile</a></li>
       <li><a href="/AllUsers">Friends</a></li> 

    </div>
    </ul>
  </div>
</nav>
    <form method="POST" action="/sign-out">
        <input class="OUT2" id="sign-out" type="Submit" name="Sign Out">
    </form>
    <h1 class="FoodHead">Welcome to the Tasty Network! </h1>
    <h2>
        All Tasty Bloggers
    </h2>
    <div>
        <div class="blogtitle">
            <% @user.each do |user| %>
                <h3><a href="/Friend/<%= user.id %>"><%= user.fname %></a></h3>
                <p>Location:<%= user.city %></p>
                <% end %>
        </div>
    </div>
    
</body>

</html>