<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Personal Homepage</title>
    <link href=StyleSheets/Layout.css rel="stylesheet">
</head>

<body>
     
     <button id="sign-out" class="signout" onclick="signout()">Signout</button>
    </div>
    <h1 class="FoodHead">
        Welcome to your food journey!
    </h1>
    <div class="users">
        <% @users.each do |user| %>
            <div class="name">First Name:
                <%= user.fname %>
                    <br> Last Name:
                    <%=user.lname %>
                        <br>
                        <% end %>
            </div>
    </div>
    
<div id="BlogPost" class="CC">
    <div class="post">
    <form method="POST" action="/create_mesaage">
        <p1>Category</p1>
        <input type="text" name="[create]category" onfocus="this.value=''" value="category">
        <br>
        <p2>Title</p2>
        <input type="text" name="[create]title" onfocus="this.value=''" value="What would you like me to be called?">
        <br>
        <p3>Post Content</p3>
        <input type="text" name="[create]blogpost" onfocus="this.value=''" value="Post Something Tasty">
        <br>   
        <input type="hidden" name="[post]user_id" value="<%= @current_user.id %>">
    </form>
      <br>
     <button id="submit3" class="submit3" onclick="submit3()">Submit</button>
    </div>
</div>
 
</body>

</html>