body{
	  background-image: linear-gradient(white, teal);
      height: 1200px;
}


.container-fluid{
	background-color: white;
}	
.navbar-brand{
	background-color: teal;
	
}
.active{
	background-color: teal;
}
.p1{
	position: absolute;
	top: 175%;
	left: 45%;
}
.CC{
	font-family: 'Libre Baskerville', serif;
	position: sticky;
	top: 180%;
	left: 0%;
}
.FoodHead{
	font-family: 'Lobster', cursive;
	font-size: 42px;
	position: relative;
	top: 0%;
	left: 30%;
}
.users{
	font-family: 'Abril Fatface', cursive;
	position: absolute;
	top: 40%;
	left: 20%;
}
.signout{
	font-family: 'Dancing Script', cursive;
	color: green;
	font-size: 18px;
	position: relative;
	top: 0%;
	left: 95%;
}
input{
	width: 800%;
}
.submit3{
	background-color: teal;
}
input[type=button]{

}
.OUT{
	width:10%;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	position: absolute;
	top: 2%;
	left: 88%;
	border-radius: 50px;
	
}

.OUT:hover{
	box-shadow: 2px 3px 3px 2px teal;
}
.postfeed{
	
}
.sb{
   width: 30%;
}
.post{
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}
.blogtitle{
	box-sizing: border-box;
	text-decoration: underline;
	
}
.category{
	box-sizing: border-box;
	text-overflow: wrap width 30%;
	width: 50%;
	position: center;
}
.contentbox{
	box-sizing: content-box width 30%;
	text-overflow: wrap;
	
}
.titleme{
	width: 30%;

}
.postcontent{
	width: 30%;

}
.Create1{
	text-decoration: underline;
}
.PICK{
	text-decoration: underline;
}
.PF{
	text-decoration: underline;
}
.CAT{
	text-decoration: underline;
}