
.T{
	font-family: 'Pacifico', cursive
    color:teal;
    /*animation-direction: left;*/

}
.h2{
	font-family: 'Dancing Script', cursive;
	font-size: 25px;

}
.signin{
	font-family: 'Dancing Script', cursive;
	color: green;
	font-size: 18px;
	position: absolute;
	top:-250%;
	left: 60%;
}
.sp{
	font-family: 'Dancing Script', cursive;
	color: green;
	font-weight: 3px;
	position: relative;
	top: 2%;
	left: 28%;
	font-size: 20px;
	
}
input{
	width: 50%;
}

