body{
background-color: white;

}
.wholepage{
	position: absolute;
	top: 10%;
	left: 15%;
}
.FoodHead{
	font-family: 'Lobster', cursive;
	color: teal;
}
.users{
font-family: 'Dancing Script', cursive;
}
.TextContainer{
	color: lightgrey;

}
.BL{
font-family: 'Dancing Script', cursive;
}
.Writedown{

}
.button{
	box-shadow: 2px 3px 3px 2px;
}
