body{
background-color: white;

}
.wholepage{
	position: absolute;
	top: 10%;
	left: 15%;
}
.FoodHead{
	font-family: 'Lobster', cursive;
	color: teal;
}
.users{
font-family: 'Dancing Script', cursive;
}
.TextContainer{
	color: lightgrey;

}
.BL{
font-family: 'Dancing Script', cursive;
}
.modal-content{
 font-family: 'Lobster', cursive;
}
.update{
	width:20px;
	position: absolute;
	top: 220%;
	left: 65%;
}
.editblog{
	width:20px;
	position: absolute;
	top: 220%;
	left: 80%;
}